@media (min-width: 1200px) {
    div.content {
        padding-top: 2%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    div.content {
        padding-top: 2%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    div.row.center-block.page-header {
        display: none;
    }
}

@media (max-width: 480px) {
    div.content {
        padding-top: 2%;
    }

}


/*шапка сайта*/
div.row.center-block.page-header {
    background: radial-gradient(circle, darkblue, black);
}

/*навигация меню*/
div.navbar {
    text-transform: uppercase;

    font-weight: bold;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.social_icon {
    padding-top: 3%;
}
.nav_icon {
    border: 0;
}

img.img.img-responsive.nav_icon {
    background-color: rgba(0,0,0,0.5);
}

/* хлебные крошки ДОЛЖНЫ ЗДЕСЬ БЫТЬ!!!*/

/*основной контент оформление*/
div.content {
    text-align: justify;
    /*background-color: rgba(0,0,0,0.7);*/
    background: radial-gradient(circle, darkblue, black);
    padding-left: 10%;
    padding-right: 10%;
}

div.content>div.h1 {
    text-align: center;
}

body {
    /*background-color: #34495e;*/
    /*background-image: url("../images/background.jpg");*/
    background: radial-gradient(circle, darkblue, black);
    color: white;
}

/*Прижимаєм футер*/
/*.content {
    min-height: calc(100vh - 42px);
}

#footer {
    color: black;
    font-weight: bold;
}*/

/*оформление картинок*/
div.content.div.row.div.col-sm-6{
     margin: 10px 10px 10px 10px;
}
